body{
    padding: 0;
    margin: 0;    
    width:100vw;
    height: 100vh;    
}

.panel{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.question-container{
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 5vh;
    background-color: #c7dddf;
    font-size: x-large;
    text-align: center;
      
}

table{
    width: 100%;
    text-align: center;
}
/*
.result{
    margin: 10px;
    padding: 5px;
    width:80vw;
    height: 10vh;
    text-align: center;
    font-size: 50px;
      
}
*/

.option-container{
    display: flex;
    justify-content: space-around; 
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 20vh;
    background-color: #9be2ea;   
        
}
/*
.option{    
    padding: 10px;
    width: 15vw;
    height: 10vh;
    font-size: larger;
    background-color: lightskyblue;
    border-radius: 25%;
}
.option:hover{
    background-color: lightgoldenrodyellow;
}
  
.evaluate,.next{
    width:30vw;
    height: 8vh;
    padding: 5px;
    font-size: larger;
}
.evaluate{
    
    background-color: #50DBB4;
}
.next{
    color: white;
    background-color: #BF3325;
}
*/